body {
  background-image: url('../img/dogfuny.jpg');
  background-size: cover;
  text-align:left;
}
h1 {
  text-decoration:underline;
  text-align:left;
  font-size:100px;
  color:#ffffff;
}
ul {
  text-align:left;
}
li{
  text-align:left;
  color:blue;
}
.sgame{
  color:green;
}
#funny{
  color:red;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
th {
  color:rgb(12,111,60);
  background-color:#a1dfff;
  text-align:left;
}
table {
  border-width:15px;
  border-color:yellow;
}
p {
  color:#ffffff;
}
h2 {
  font-size:50px;
  color:#ffffff;
}
